{% extends 'webapp/base.html' %}
{% block plug_in_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>About Us</h1>
    <div class="AboutUs">  
      <h2>Jake</h2>
      <img src="{% static 'webapp/images/us/jake_1558.jpg' %}" width="150" height="150" class="LeftImg" />
      <p>Jacob is a native Californian. He has been camping and backpacking in the Sierras since before he could walk. He is a physicist and is also interested in geology and astronomy. He enjoys snowboarding in the winter and camping and hiking the rest of the year.</p>
    </div>
    
    <div class="AboutUs">
      <h2>Nastia</h2>
      <img src="{% static 'webapp/images/us/nastia_3748.jpg' %}" width="150" height="150" class="LeftImg" />
      <p>Nastia grew up in Russia, and moved to California in 1995. She is a physicist and mathematician. She enjoys camping and hiking as well as drawing, tatting, graphic and web design.</p>
    </div>

    <div class="AboutUs">
      <h2><a href="#">Leo</a></h2>
      <a href="#"><img src="{% static 'webapp/images/us/leo_0142.jpg' %}" width="150" height="150" class="LeftImg" /></a>
      <p>Leo is our assistant. He helps us to identify species by eating them and then throwing them up in the middle of the living room. Obviously, he is the most important part of the team.</p>
    </div>

    <div class="AboutUs">
      <h2><a href="#">Monty & Phoenix</a></h2>
      <a href="#"><img src="{% static 'webapp/images/us/kittens_3614b.jpg' %}" width="150" height="150" class="LeftImg" /></a>
      <p>Monty & Phoenix are our computer technicians. They help by pressing keys we never thought of pressing (usually DELETE) and attacking the mouse pointer. When it's time for a break, they snuggle next to the warm laptop and take a nap.</p>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
