{% extends 'webapp/base.html' %}

{% block plug_in_content %}
{% if plant_common_name_list %}
<div class="row">
  <h1>Wildflowers by Common Name</h1>
</div>
<div class="row">
  {% for plant_common_name in plant_common_name_list %}
  <div class="col-md-6 col-lg-4">
    <h3>
      <a href="{% url 'webapp:wildflowers_detail' plant_common_name.plant_id %}">
	{{ plant_common_name }}
      </a>
    </h3>
    <div class="ImageBox">
      <a href="{% url 'webapp:wildflowers_detail' plant_common_name.plant_id %}">
	<span></span>
	{% load staticfiles %}
	<img height="243" alt="{{ plant_common_name.plant.primary_image_file_name }}" src="{% static 'webapp/images/thumbnails/' %}{{plant_common_name.plant.primary_image_file_name}}" width="324" />
      </a>
    </div>
    <dl>
      <dt>
	<a href="{% url 'webapp:wildflowers_detail' plant_common_name.plant_id %}">
	  {{ plant_common_name.plant.scientific_name }}
	</a>
      </dt>
      <dd>
	<a href="{% url 'webapp:wildflowers_family' plant_common_name.plant.family.id %}">
	  {{ plant_common_name.plant.family.scientific_name }}
	</a>
      </dd>
    </dl>
  </div><!-- /.col-md-6 col-lg-4-->
  {% endfor %}
</div><!-- /.row -->
{% else %}
<p>No plant common names are available.</p>
{% endif %}
{% endblock %}


