{% if plant_scientific_name_list %}
<h1>This is the by scientific name page!</h1>
<ul>
  {% for plant_scientific_name in plant_scientific_name_list %}
  <li>
    {% for image in plant_scientific_name.imageinfo_set.all %}
    {% if image.primary %}
    <p>{{ image }}</p>
    {% endif %}
    {% endfor %}
    <a href="{% url 'webapp:wildflowers_detail' plant_scientific_name.id %}">
      <p>{{ plant_scientific_name }}</p>
      <p>{{ plant_scientific_name.family.scientific_name }}</p>
    {% for common_name in plant_scientific_name.plantcommonname_set.all %}
    {% if common_name.primary %}
      <p>{{ common_name }}</p>
    {% endif %}
    {% endfor %}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No plant scientific names are available.</p>
{% endif %}
