{% extends 'webapp/base.html' %}
{% block plug_in_content %}
{% if plant_scientific_name_list %}
<div class="row">
  <h1>Wildflowers by Scientific Name</h1>
</div>
<div class="row">
  {% for plant_scientific_name in plant_scientific_name_list %}
  <div class="col-md-6 col-lg-4">
    <h3>
      <a href="{% url 'webapp:wildflowers_detail' plant_scientific_name.id %}">
	{{ plant_scientific_name }}
      </a>
    </h3>
    <div class="ImageBox">
      <a href="{% url 'webapp:wildflowers_detail' plant_scientific_name.id %}">
	<span></span>
	<img height="243" alt="{{ plant_scientific_name.primary_image_file_name }}" src="/static/webapp/images/thumbnails/{{plant_scientific_name.primary_image_file_name}}" width="324" />
      </a>
    </div>
    <dl>
      <dt>
	<a href="{% url 'webapp:wildflowers_detail' plant_scientific_name.id %}">
	{{ plant_scientific_name.primary_common_name }}
	</a>
      </dt>
      <dd>
	<a href="{% url 'webapp:wildflowers_family' plant_scientific_name.family_id %}">
	  {{ plant_scientific_name.family.scientific_name }}
	</a>
      </dd>
    </dl>
  </div><!-- /.col-md-6 col-lg-4-->
  {% endfor %}
</div><!-- /.row -->
{% else %}
<p>No plant scientific names are available.</p>
{% endif %}
{% endblock %}




