{% extends 'webapp/base.html' %}
{% block plug_in_content %}
{% if plants_in_color_range_list %}
<div class="row">
  <h1>Wildflowers</h1>
</div>

<div class="row">
  {% for plant in plants_in_color_range_list %}
  <div class="col-md-6 col-lg-4">

    {% for common_name in plant.plantcommonname_set.all %}
    {% if common_name.primary %}
    <h3>
      <a href="{% url 'webapp:wildflowers_detail' plant.id %}">
	{{ common_name }}
      </a>
    </h3>
    {% endif %}
    {% endfor %}

    {% for image in plant.imageinfo_set.all %}
    {% if image.primary %}
    <div class="ImageBox">
      <a href="{% url 'webapp:wildflowers_detail' plant.id %}">
	<span></span>
	<img height="243" alt="{{ image }}" src="http://placehold.it/324x243" width="324" />
      </a>
    </div>
    {% endif %}
    {% endfor %}
    <dl>
      <dt>
	<a href="{% url 'webapp:wildflowers_detail' plant.id %}">
	  <p>{{ plant }}</p>
	</a>
      </dt>
      <dd>
	<a href="{% url 'webapp:wildflowers_family' plant.family_id %}">
	  {{ plant.family.scientific_name }}
	</a>
      </dd>
    </dl>
  </div><!-- /.col-md-6 col-lg-4-->
  {% endfor %}
</div><!-- /.row -->
{% else %}
<p>No plants are available.</p>
{% endif %}
{% endblock %}






