{% extends 'webapp/base.html' %}
{% block plug_in_content %}
{% if plants_in_family_list %}
<div class="row">
  <h1>{{plants_in_family_list.0.family.scientific_name}}</h1>
  <h4>{{plants_in_family_list.0.family.formatted_common_names}} Family</h4>
</div>

<div class="row">
  {% for plant in plants_in_family_list %}
  <div class="col-md-6 col-lg-4">

    <h3>
      <a href="{% url 'webapp:wildflowers_detail' plant.id %}">
	{{ plant.primary_common_name }}
      </a>
    </h3>

    <div class="ImageBox">
      <a href="{% url 'webapp:wildflowers_detail' plant.id %}">
	<span></span>
	<img height="243" alt="{{ plant.primary_image_file_name }}" src="{% static 'webapp/images/thumbnails/' %}{{plant.primary_image_file_name}}" width="324" />
      </a>
    </div>
    <dl>
      <dt>
	<a href="{% url 'webapp:wildflowers_detail' plant.id %}">
	  <p>{{ plant }}</p>
	</a>
      </dt>
      <dd>
	<a href="{% url 'webapp:wildflowers_family' plant.family_id %}">
	  {{ plant_scientific_name.family.scientific_name }}
	</a>
      </dd>
    </dl>
  </div><!-- /.col-md-6 col-lg-4-->
  {% endfor %}
</div><!-- /.row -->

{% else %}
<p>No plants are available.</p>
{% endif %}
{% endblock %}


