{% extends 'webapp/base.html' %}
{% block plug_in_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row"><h1>Welcome</h1></div>

    <div class="row">
      <div class="paddedText">
      <p>We like to visit Sequoia and Kings Canyon National Parks several times a year, usually from late spring until early fall.  We like to visit other national parks as well, especially those in California, but find ourselves returning to Sequoia and Kings Canyon over and over.  In many ways, we enjoy these parks much more than their more popular Sierra Nevada cousin, Yosemite National Park.  Everyone should certainly experience Yosemite at least once in their lives, but Sequoia and Kings Canyon are equally beautiful and rich with life, but without the huge crowds, without the need to make reservations months in advance and without tiny campsites packed together like sardines.  Sequoia and Kings Canyon feel more like wilderness than civilization.  Today, these parks are much like the Yosemite of decades ago.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
      <a href="#">
    	<img src="http://placehold.it/324x243" width="324" height="243" alt="" /></a>
      </div>
      <div class="col-md-6">
	We enjoy going on a lot of hikes throughout the parks, and we are always curious about the plants and animals around us.  We are not botanists, just hobbyists.  Over the years we have acquired a lot of pictures and a lot of guidebooks, and decided to share our accumulated knowledge through this website.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
<p>The site is primarily dedicated to identification of wildflowers found in Sequoia and Kings Canyon National Parks, but we have added a few other sections.  You can choose to view the wildflowers organized by common name, scientific name, family, or color.  We also have few <a href="#">Mystery Plants</a> we have not been able to identify.  If you can help us identify any of these, or would just like to comment on the site, please <a href="#">contact us</a>! Many of the species contained here can be found elsewhere in the Sierras, Central Valley, Bay Area or beyond.  Though we have only included species here that we found in or around Sequoia or Kings Canyon, we hope this guide can be helpful for those visiting Yosemite or other parks or even help you identify flowers in your neighborhood!</p>
      </div>
      <div class="col-md-6">
<a href="#">
	<img src="http://placehold.it/324x486" alt="" width="324" height="486" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <a href="#">
    	<img src="http://placehold.it/324x486" width="324" height="486" alt="" /></a>
      </div>
      <div class="col-md-6">
<p>We have also toyed with 3D photography for a couple of years and our photos are getting better and better. Part of the motivation for building a 3D camera was to try to capture the grandeur of areas like the Sierra Nevada that can sometimes be awe-inspiring in person, but lose something when photographed.  You can see some sample images and read more about 3D photography in the <a href="#">3D Images</a> section.</p> 

<p>In addition, we have provided a <a href="{% url 'webapp:wildflowers_references' %}">Reference Section</a> containing books and websites we have found to be helpful.<!--If you enjoy this website and would like to learn more, please buy one of these books or other items you find here through our links. These are the products we use from the places we purchased them.  It will not cost you anything extra; just offer a little support to help us continue to develop this site. --> </p>      </div>
    </div>
  </div><!-- /.col-md-8 -->
  <div class="col-md-2"></div>
</div><!-- /.row -->



{% endblock %}
