{% extends 'webapp/base.html' %}
{% block plug_in_content %}
{% load staticfiles %}
{% if plant %}
<div class="row">
  <h1>{{plant.primary_common_name}}</h1>
</div>
<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">

	Plant Species: {{ plant.scientific_name }}</br>
	Commonly known as: {{ plant.formatted_common_names }}</br>
	<a href="{% url 'webapp:wildflowers_family' plant.family_id %}">
	  Plant Family: {{ plant.family.scientific_name }}</a></br>
	Family commonly know as: {{ plant.family.formatted_common_names }} Family</br>

	{% for image_info in plant.imageinfo_set.all %}
	<div class="col-sm-6 col-md-6 col-lg-6">
	  <a href="#">
	    <img src="{% static 'webapp/images/thumbnails/' %}{{ image_info.file_name }}" alt="{{ image_info.file_name }}">
	  </a>
	</div><!-- /.col-sm-6 col-md-6 col-lg-6 -->
	{% endfor %}
      </div><!-- /.col-sm-12 col-md-12 col-lg-12 -->
    </div>
  </div>
</div>
<div class="col-sm-2 col-md-2 col-lg-2"></div>
</div><!-- /.row -->
{% else %}
<p>No plants are available.</p>
{% endif %}
{% endblock %}
