{% extends 'webapp/base.html' %}
{% block plug_in_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>References</h1>
    <p>We found the following sources very helpful for identification of and additional information on wildflower species</p>
    <h2>Books:</h2>
    <div class="AboutUs">
      <div class="LeftAdd"> 
      </div>
      <div class="bookReference">
	<h3>"The Laws Field Guide to the Sierra Nevada" by John Muir Laws</h3>
	<p>This has been an invaluable source for identifying unknown species. It features illustrations, not photos, so the author is able to highlight important features that distinguish species. We also liked the fact that wildflowers were organized by color.</p>
	<p>Although this book contained the most comprehensive listing of wildflowers of any of our sources, wildflowers are not the book's focus. It contains equally comprehensive guides to other flora such as fungi, trees and shrubs, and fauna including insects, spiders, fish, reptiles, amphibians, birds, mammals - even animal tracks and star charts (and it's small enough to easily carry in your day pack). This book is a  must have.</p>
      </div>
    </div>
    <div class="AboutUs">
      <div class="LeftAdd">     
      </div>
      <div class="bookReference">
	<h3>"Wildflowers of Sequoia & Kings Canyon National Parks" by Stephen K. Stocking and Jack A. Rockwell </h3>
	<p>This is the only book we found dedicated entirely to wildflowers in Sequoia and Kings Canyon. We also like the organization (by color) and it covers most of the common species that people might be trying to identify. From time to time, we find ourselves going back to this little book to see if we have missed a flower or two. But at 48 pages, its scope is somewhat limited, and we needed a more comprehensive guide to assist us with lesser-known species.</p>
      </div>
    </div>
    <div class="AboutUs">
      <div class="LeftAdd">    
      </div>
      <div class="bookReference">
	<h3>"Wildflowers of the Sierra Nevada and the Central Valley" by Laird R. Blackwell</h3>
	<p>This book provides a wealth of information on each wildflower. It contains 320 species with each page dedicated to no more than two species. The author is very knowledgeable in the subject and has many tips on identifying the flowers. The book is organized by family, a feauture we did not care for as much, but the first few pages contain a "Quick Key" to help the reader jump to the right page. The pictures in the Quick Key are small though, and some flowers are hard to make out.</p>
      </div>
    </div>
    <div class="AboutUs">
      <div class="LeftAdd">      
      </div>
      <div class="bookReference">
	<h3>"Sierra Nevada Wildflowers" by Elizabeth L. Horn</h3>
	<p>This book contains over 300 species and includes great photos. In a few cases, this book did not agree with other sources we had, but it also contained species we did not find elsewhere, so it was still a valuable resource.</p>
      </div>
    </div>
    <div class="AboutUs">
      <div class="LeftAdd">
      </div>
      <div class="bookReference">
	<h3>"Wildflowers of Yosemite" by Lynn & Jim Wilson and Jeff Nicholas</h3>
	<p>There is a lot of overlap in the flora of these nearby parks, so this was helpful as a check on species we were unsure of.</p>
      </div>
    </div>
    <div class="AboutUs">
      <div class="LeftAdd">
      </div>
      <div class="bookReference">
	<h3>"Sierra Nevada Wildflowers" by Karen Wiese</h3>
	<p>This was our later addition to the wildflower info library. Although some of the species overlapped with the other books, it was refreshing to see different pictures of the flowers. All species are organized by color, within each, further organized by family. The book contains over 230 species, all with thorough descriptions and colorful pictures.  This was a great addition to our rapidly growing collection of books. </p>
      </div>
    </div>
    <div class="AboutUs">
      <div class="LeftAdd">
      </div>
      <div class="bookReference">
	<h3>"Pacific States Wildflowers" by Theodore F. Niehaus & Charles L. Ripper</h3>
	<p>We have been using this book for those "tough to distinguish from each other" species. Each page of text is accompanied by a page of beautifully drawn illustrations. Most illustrations indicate a certain characteristic of the species to note, a most helpful feature. The book is organized by color and covers short description of the species. One drawback to this book is that majority of species are not in color, but just black and white outlines. Only few inserted pages are offered in color.</p>
      </div>
    </div>
    <div class="AboutUs">
      <div class="LeftAdd">
      </div>
      <div class="bookReference">
	<h3>"Field Guide to Wildflowers of North America" by David M. Brandenburg</h3>
	<p>Upon quick inspection, this book may appear overwhelming. It contains over 2,200 species and over 4000 stunning photos. The guide is arranged by genus and contains regional maps for each species. A wonderful feature in this book is its key arranged by color and shapes. Unlike other books, the key is legible and easy to use. With such vast information, at 674 pages, the so called "field guide" is heavy and is not suitable for a long hike. It is best to keep this one at home.</p>
      </div>
    </div>
    <div class="AboutUs">
      <h2>Websites:</h2>
      <h3><a href="http://sequoianp.home.comcast.net/~sequoianp/Wildflowers/index.html" target="_blank">Seki Wildflowers</a></h3>
      <p>A very good site dedicated to wildflowers of Sequoia and Kings Canyon National Parks. All species are organized by color; as mentioned earlier, a feature we like. </p>
      <h3><a href="http://calphotos.berkeley.edu/flora/" target="_blank">CalPhotos: Plants</a></h3>
      <p>A great database for wildlfowers by <a href="http://bscit.berkeley.edu" target="_blank">BSCIT project, UC Berkeley</a>. This site contains photos contributed by vairous organizations and individuals.</p>
    </div>
  </div><!-- /.col-lg-10 -->
  <div class="col-md-2"></div>
</div><!-- /.row -->
{% endblock %}
